.places {
  margin: auto 148px auto 145px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .places {
    margin: auto;
  }
}

@media screen and (max-width: 720px) {
  .places {
    margin: auto;
  }
}
